<h2>All Food</h2>

<button>
<a href="/meals/{{mealId}}">Back to meal</a>
</button>

<button>
<a href="/meals/{{mealId}}/foodItems/new">Insert Food Item</a>
</button>

{{#each foodItems}}
<div>
<a href="/meals/{{mealId}}/foodItems/{{_id}}">{{name}}</a>
</div>
{{/each}}