<button>
    <a href="/meals">Back to all meals</a>
</button>

<div class="meal-name">
    <h2 class="display-4">{{meal.name}}</h2>
</div>

<button>
    <a href="/meals/{{meal._id}}/edit">Edit Meal Name</a>
</button>

<form action="/meals/{{meal._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Meal">
</form>

<div class="jumbotron">
    <h1 class="display-6">Food Collection</h1>
    <p class="lead">This is where your individual meals will be stored for easy access.</p>
    <hr class="my-4">
    <p>Input the type of foods you would like to make up a meal.</p>
    <button class="new-meal">
        <a href="/meals/{{meal.id}}/foodItems/new">Insert Food Item</a>
    </button>
    <button class="new-meal">
        <a href="/meals/{{meal.id}}/foodItems">View Food Items</a>
    </button>
</div>